.mission {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    text-align: center;
    width: 100%;
}
.mission-tagline {
    color: rgb(0, 0, 0);
    font-size: 3em;
    width: 80%;
}
.savings {
    color: rgb(6, 75, 52);
}
.mission-statement {
    width: 80%;
    line-height: 4vh;
    font-size: 1.1em;
    color: rgb(74, 74, 74);
}