@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&display=swap');

.App {
  filter: contrast(130%) brightness(450%);
  background: linear-gradient(
    128deg, 
    rgb(64, 64, 64),
    rgba(0, 0, 0, 0.8)),
  radial-gradient(
    rgba(39, 39, 39, 0.8), 
    rgba(18, 18, 18, 0.69)),
	url("./gradient/noise.svg");
  height: 100%;
  font-family: 'Unbounded', 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}